* {
	-color-dark: #212121;
	-color-light: #b4b8b7;
	-color-dark-faded : rgba(7, 7, 7, 0.8);
	-color-light-faded : rgba(255, 255, 255, 0.75);
	-color-main: #0bccac;

	-mfx-text-he: rgba(0, 0, 0, 0.87); /* High Emphasis */
	-mfx-text-me: rgba(0, 0, 0, 0.60); /* Medium Emphasis*/
	-mfx-text-disabled: rgba(0, 0, 0, 0.38); /* Disabled */

	-common-gradient: linear-gradient(to right bottom, #0af6bb, #420aa4);
}