@import 'colors.css';

#clock, #date, #timeLeft{
    -fx-background-color: -color-light-faded;
}

#progressBar{
    -fx-background-color: -color-light-faded;
}

#progressBar .bar1, #volumeSlider .bar{
    -fx-fill: -color-dark;
}

#volumeSlider .thumb,
#volumeSlider .track{
    -mfx-color: -color-dark;
    -fx-fill: derive(-color-dark, 85%);
}

#volumeSlider .thumb-container:hover .thumb-radius,
#volumeSlider .thumb-container:pressed .thumb-radius {
	-mfx-color: derive(-color-dark, 85%);
	-fx-opacity: 0.5;
}

#volumeSlider .thumb-container .mfx-ripple-generator {
	-mfx-ripple-color: -color-dark;
}

#prayerGrid{
    -fx-background-color: -color-light-faded;
    -fx-font-color: black;
}

.mfx-button{
    -fx-background-color: -color-dark;
    -fx-text-fill: white;
}
.mfx-button .label{
    -fx-text-fill: white;
}

#sideBar{
    -fx-border-color: #212121;
}

.date-picker .arrow-button {
	-fx-background-color: -color-dark;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -color-dark-faded;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -color-dark;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -color-dark;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -color-dark;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -color-dark-faded;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}