#title{
    -fx-font-size: 20px;
    -fx-padding: 5px 0 0 5px;
}

#clock, #date, #timeLeft{
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

#progressBar{
    -fx-border-radius: 10px 10px 0 0;
    -fx-background-radius: 10px 10px 0 0;
}

#progressBar .bar, #progressBar .track {
    -fx-background-insets: 0px;
    -fx-background-radius:0;
    -fx-border-radius: 0;
}

#prayerGrid{
    -fx-border-radius: 0 0 10px 10px;
    -fx-background-radius: 0 0 10px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

.mfx-button .text {
	-fx-font-smoothing-type: lcd;
}

.mfx-button .mfx-ripple-generator {
	-mfx-ripple-radius: 40;
	-mfx-auto-clip: true;
}

#volumeSlider{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

.mfx-checkbox, .mfx-radio-button{
    -mfx-main: -common-gradient;
}

.mfx-checkbox .mfx-ripple-generator {
	-mfx-ripple-color: -common-gradient;
	-fx-opacity: 0.5;
}

#sideBar{
    -fx-border-width: 0 2px 0 0;
}

.date-picker {
    -fx-background-radius: 10 10 10 10;
}
.date-picker > .text-field {
    -fx-background-radius: 10 0 0 10;
}

.date-picker > .arrow-button {
    -fx-background-radius: 0 10 10 0;
}

#progressBar .track,
#progressBar .bar1,
#progressBar .bar2 {
    -fx-arc-height: 2;
    -fx-arc-width: 10;
}